<%= render GovukComponent::FooterComponent.new do |footer| footer.with_meta do %>
  <div class="govuk-footer__meta-item">
    <p class="govuk-footer__meta-custom">
      Journal created by <a href="https://sarahcrack.io/">Sarah Crack</a> using the <a href="https://github.com/DFE-Digital/rails-template">DfE Rails template</a>
    </p>
  </div>
<% end; end %>
