<%= render GovukComponent::FooterComponent.new do |footer| %>
  <% footer.with_meta do %>
    <div class="govuk-footer__meta-item">
      <p class="govuk-footer__meta-custom">
        <%= t(
          ".body_html",
          link_sc: govuk_link_to(
            t(".link_text_sc"),
            t(".link_url_sc")
          ),
          link_dfe_template: govuk_link_to(
            t(".link_text_dfe_template"),
            t(".link_url_dfe_template")
          )
        ).html_safe %>
      </p>
    </div>
  <% end %>
<% end %>
