<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <div class="sc-logo">
        <%= render "shared/logo" %>
      </div>
      <a href="#" class="govuk-header__link govuk-header__service-name">
        <%= t(".title") %>
      </a>
    </div>
  </div>
</header>
