$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@use "govuk-frontend/dist/govuk/index";
@use "logo";
@use "header";

$primary-color: green;
$secondary-color: white;

body {
  color: black;
  background-color: $secondary-color;
  font-family: "GDS Transport", Arial, sans-serif;
}

.content_container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  color: $primary-color;
}

h2 {
  color: pink;
}
